<div class="container">
  <h1>Import</h1>
  <div class="container import-form">
    <form #typeForm="ngForm">
      <div class="alert alert-danger alert-dismissible fade show" *ngIf="errorMessage" role="alert">
        <strong>Error:</strong> {{errorMessage}}
      </div>
      <div class="form-group">
        <label for="sourceSelect">Source</label>
        <select class="form-control" id="sourceSelect" name="sourceSelect" [(ngModel)]="selectedItem" (ngModelChange)="onSelect($event)">
          <option *ngFor="let option of options" [value]="option">{{option}}</option>
        </select>
      </div>
    </form>

    <div style="height: 4rem;" *ngIf="working"></div>
    <div class="loader mx-auto" *ngIf="working"></div>

    <div [ngSwitch]="selectedItem" [hidden]="working" #switch>
      <app-import-github *ngSwitchCase="options[0]" (working)="onWorking($event)" (complete)="onComplete($event)" (error)="onError($event)"></app-import-github>
      <app-import-googlecode *ngSwitchCase="options[1]" (working)="onWorking($event)" (complete)="onComplete($event)" (error)="onError($event)"></app-import-googlecode>
      <app-import-redmine *ngSwitchCase="options[2]" (working)="onWorking($event)" (complete)="onComplete($event)" (error)="onError($event)"></app-import-redmine>
      <app-import-trackforever *ngSwitchCase="options[3]" (working)="onWorking($event)" (complete)="onComplete($event)" (error)="onError($event)"></app-import-trackforever>
      <p *ngSwitchDefault>Select a source</p>
    </div>
  </div>
</div>