<h1>{{title}}</h1>

<div class="container">
  <form #typeForm="ngForm">
    <div class="form-group">
      <label for="sourceSelect">Source</label>
      <select class="form-control" id="sourceSelect" name="sourceSelect"
              [(ngModel)]="selectedItem" (ngModelChange)="onSelect($event)">
        <option *ngFor="let option of options" [value]="option">{{option}}</option>
      </select>
    </div>
  </form>

  <div [ngSwitch]="selectedItem" #switch>
    <app-import-github *ngSwitchCase="options[0]" (complete)="onComplete($event)"></app-import-github>
    <app-import-googlecode *ngSwitchCase="options[1]" (complete)="onComplete($event)"></app-import-googlecode>
    <app-import-trackforever *ngSwitchCase="options[2]" (complete)="onComplete($event)">JSON</app-import-trackforever>
    <p *ngSwitchDefault>Select a source</p>
  </div>
</div>
