<h1>{{title}}</h1>

<div class="container">
  <form #typeForm="ngForm">
    <div class="form-group">
      <label for="sourceSelect">Source</label>
      <select class="form-control" id="sourceSelect" name="sourceSelect"
              [(ngModel)]="selectedItem" (ngModelChange)="onSelect($event)">
        <option *ngFor="let option of options" [value]="option">{{option}}</option>
      </select>
    </div>
  </form>
  
  <div [ngSwitch]="selectedItem" #switch>
    <app-import-github *ngSwitchCase="options[0]" (complete)="onComplete($event)"></app-import-github>
    <p *ngSwitchCase="options[1]">TODO implement Google Code</p>
    <p *ngSwitchCase="options[2]">TODO implement JSON</p>
    <p *ngSwitchDefault>Select a source</p>
  </div>
</div>
