.dropdown-toggle::after {
  display: none;
}

.dropdown-toggle {
  border: none;
  background: none;
}

.issue-details {
    max-width: 300px;
    background-color: azure;
}
.issue-details span {
    font-weight: bold;
}

.row .left {
    max-width: 650px;
}

.row {
    margin-bottom: 50px;
}
