<div class="container" *ngIf="issue">
  <h1>Issue #{{issue.id}}</h1>

  <div class="row">
    <div class="col left">
      <div class="container">
        <h2>Summary</h2>
        <p [innerHTML]="issue.summary | markdown: {source: source}"></p>
      </div>

      <div class="container">
          <h2>Comments</h2>
          <div class="comment-section">
            <div class="comment" *ngFor='let comment of issue.comments'>
              <div class="commenter">{{ comment.commenterName }} commented</div>
              <div class="content" [innerHTML]="comment.content | markdown: {source: source}"></div>
            </div>
          </div>
      </div>
    </div>

    <div class="container issue-details col right">
      <h2>Issue details</h2>

      <p><span>Project ID:</span> {{issue.projectId}}</p> <!-- create hyperlink back to project -->
      <p><span>Status:</span> {{issue.status}}</p>
      <p><span>Labels:</span> {{issue.labels}}</p>
      <p><span>Submitter:</span> {{issue.submitterName}}</p>
      <p *ngIf="issue.timeCreated"><span>Created:</span> {{issue.timeCreated | amFromUnix | amCalendar}}</p>
      <p *ngIf="issue.timeUpdated"><span>Last updated:</span> {{issue.timeUpdated | amFromUnix | amCalendar}}</p>
      <p *ngIf="issue.timeClosed"><span>Last closed:</span> {{issue.timeClosed | amFromUnix | amCalendar}}</p>
    </div>
  </div>



</div>

