<form (ngSubmit)="onSubmit()" #importForm="ngForm">
  <div class="form-group">
    <label for="projectName">Project Name</label>
    <input type="text" class="form-control" id="projectName" required
           [(ngModel)]="projectName" name="projectName"
           #projectNameRef="ngModel">
    <div [hidden]="projectNameRef.valid || projectNameRef.pristine"
         class="alert alert-danger">
      Project name is required
    </div>
  </div>
  <div class="form-group">
    <div class="custom-control custom-checkbox">
      <input type="checkbox" class="custom-control-input" id="random"
            [(ngModel)]="useRandom" name="random"
            #randomRef="ngModel">
      <label for="random" class="custom-control-label">Replace user ID numbers with random animal names</label>
    </div>
  </div>
  <button type="submit" class="btn btn-success">Import</button>
</form>
