<!-- navigation bar -->
<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" routerLink="/home">
    <img src="/assets/navbar-icon.svg" width="30" height="30" alt="">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation"
    (click)="toggleCollapsed()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- nav bar items if user is signed in -->
  <div *ngIf="user" id="navbarSupportedContent" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/user">User Settings</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" (click)="signOut()">Sign Out</a>
      </li>
    </ul>

    <form class="form-inline">
      <button class="btn btn-primary ml-3" routerLink="/import">Import Project</button>
    </form>
  </div>
</nav>

<main role="main">
  <router-outlet></router-outlet>
</main>