<div class="container" *ngIf="project">
  <h1>{{project.name}}</h1>

  <p [innerHTML]="project.description | markdown: {source: project.source, force: true}"></p>

  <form class="float-left">
    <div class="form-row align-items-center">
      <div class="col-auto">
        <input [(ngModel)]="queryString" [ngModelOptions]="{standalone: true}" (keyup)="updateIssues()" class="form-control col-12 col-sm mb-2" type="search"
                placeholder="Search" aria-label="Search">
      </div>
      <div class="col-auto mb-2">
        <div ngbDropdown>
          <button class="btn btn-outline-secondary" id="labelFilterDropdown" ngbDropdownToggle>Labels</button>
          <div ngbDropdownMenu aria-labelledby="labelFilterDropdown">
            <button *ngFor="let label of labels" class="dropdown-item" (click)="toggleLabelFilter(label)">
              <span class="badge">
                <fa-icon *ngIf="labelFilters.has(label)" [icon]="faCheckSquare"></fa-icon>
                <span *ngIf="!labelFilters.has(label)" class="spacer">&nbsp;</span>
              </span>
              {{label}}
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <form class="float-right">
    <div class="form-row align-items-end">
      <div class="col-auto mb-2">
        <button class="btn btn-outline-primary" type="button" (click)="export()">Export</button>
      </div>
      <div class="col-auto mb-2">
        <button class="btn btn-success" id="newIssue">New issue</button>
      </div>
    </div>
  </form>

  <div class="table-responsive" *ngIf="issues.length > 0; else noIssues">
    <table class="table table-hover">
      <thead class="thead-light">
        <tr class="text-nowrap">
          <th scope="col">ID # <fa-icon [icon]="faSortUp"></fa-icon></th>
          <th scope="col">Summary</th>
        </tr>
      </thead>
      <tbody>
        <tr routerLink="/project/{{project.id}}/issue/{{issue.id}}"
            *ngFor="let issue of getIssuesForCurrentPage()">
          <th scope="row">{{issue.id}}</th>
          <td>{{issue.summary}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #noIssues>
    No issues found
  </ng-template>

  <ngb-pagination *ngIf="issues.length > pageSize"
                  [pageSize]="pageSize"
                  [collectionSize]="issues.length"
                  [(page)]="page"
                  [boundaryLinks]="true"
                  [maxSize]="10"
                  [rotate]="true"
                  [ellipses]="false"
                  class="d-flex justify-content-center"></ngb-pagination>
</div>
