<div class="container" *ngIf="project">
  <div *ngIf="!isEditingProject; else editingProject">
    <div class="d-flex">
      <h1 class="flex-grow-1">{{project.name}}</h1>
      <button class="btn btn-outline-secondary btn-sm my-auto" (click)="isEditingProject = true">Edit</button>
    </div>
    <p [innerHTML]="project.description | markdown: {source: project.source}"></p>
  </div>
  <ng-template #editingProject>
    <form>
      <div class="form-group">
        <label for="nameEditor">Project name</label>
        <input type="text" class="form-control" id="nameEditor" #nameEditor value="{{project.name}}">
      </div>
      <div class="form-group">
        <label for="descEditor">Project description</label>
        <textarea class="form-control" rows="10" id="descEditor" #descEditor>{{project.description}}</textarea>
      </div>
      <div class="form-row">
        <div class="col col-md-auto mb-2">
          <button class="btn btn-outline-secondary btn-block" (click)="isEditingProject = false">Cancel</button>
        </div>
        <div class="col col-md-auto mb-2">
          <button class="btn btn-primary ml-md-2 btn-block" (click)="editProject(nameEditor.value, descEditor.value)">Submit</button>
        </div>
      </div>
    </form>
    <hr>
  </ng-template>

  <div class="row">
    <!-- filter section -->
    <form class="col-12 col-lg">
      <div class="form-row align-items-center">
        <div class="col-12 col-md-auto">
          <input [(ngModel)]="queryString" [ngModelOptions]="{standalone: true}" (keyup)="updateIssues()" class="form-control col-12 col-sm mb-2"
            type="search" placeholder="Search" aria-label="Search">
        </div>

        <div class="col-auto mb-2">
          <div ngbDropdown>
            <button class="btn btn-outline-secondary btn-sm" id="statusFilterDropdown" ngbDropdownToggle>Status</button>
            <div ngbDropdownMenu aria-labelledby="statusFilterDropdown">
              <button *ngFor="let status of statuses" class="dropdown-item" (click)="toggleStatusFilter(status)">
                <span class="badge">
                  <fa-icon *ngIf="statusFilters.has(status)" [icon]="faCheckSquare"></fa-icon>
                  <span *ngIf="!statusFilters.has(status)" class="spacer">[ ]</span>
                </span>
                {{status}}
              </button>
            </div>
          </div>
        </div>

        <!-- Filter by labels -->
        <div class="col-auto mb-2">
          <div ngbDropdown>
            <button class="btn btn-outline-secondary btn-sm" id="labelFilterDropdown" ngbDropdownToggle>Labels</button>
            <div ngbDropdownMenu aria-labelledby="labelFilterDropdown">
              <button *ngFor="let label of labels" class="dropdown-item" (click)="toggleLabelFilter(label)">
                <span class="badge">
                  <fa-icon *ngIf="labelFilters.has(label)" [icon]="faCheckSquare"></fa-icon>
                  <span *ngIf="!labelFilters.has(label)" class="spacer">[ ]</span>
                </span>
                {{label}}
              </button>
            </div>
          </div>
        </div>

        <!-- Filter by assignee -->
        <div class="col-auto mb-2">
          <div ngbDropdown>
            <button class="btn btn-outline-secondary btn-sm" id="assigneeFilterDropdown" ngbDropdownToggle>Assignee</button>
            <div ngbDropdownMenu aria-labelledby="assigneeFilterDropdown">
              <button *ngFor="let assignee of assignees" class="dropdown-item" (click)="toggleAssigneeFilter(assignee)">
                <span class="badge">
                  <fa-icon *ngIf="assigneeFilters.has(assignee)" [icon]="faCheckSquare"></fa-icon>
                  <span *ngIf="!assigneeFilters.has(assignee)" class="spacer">[ ]</span>
                </span>
                {{assignee}}
              </button>
            </div>
          </div>
        </div>

        <!-- Filter by submitter -->
        <div class="col-auto mb-2">
          <div ngbDropdown>
            <button class="btn btn-outline-secondary btn-sm" id="submitterFilterDropdown" ngbDropdownToggle>Submitter</button>
            <div ngbDropdownMenu aria-labelledby="submitterFilterDropdown">
              <button *ngFor="let submitter of submitters" class="dropdown-item" (click)="toggleSubmitterFilter(submitter)">
                <span class="badge">
                  <fa-icon *ngIf="submitterFilter === submitter" [icon]="faCheckSquare"></fa-icon>
                  <span *ngIf="!(submitterFilter === submitter)" class="spacer">[ ]</span>
                </span>
                {{submitter}}
              </button>
            </div>
          </div>
        </div>

      </div>
    </form>

    <form class="col-12 col-lg-auto">
      <div class="form-row justify-content-end">
        <div class="col col-md-auto mb-2">
          <button class="btn btn-outline-primary btn-block" type="button" (click)="export()">Export</button>
        </div>
        <div class="col col-md-auto mb-2">
          <button class="btn btn-success btn-block" id="newIssue" routerLink="/project/{{project.id}}/new">New issue</button>
        </div>
      </div>
    </form>
  </div>

  <div class="table-responsive" *ngIf="issues.length > 0; else noIssues">
    <table class="table table-hover">
      <thead class="thead-light">
        <tr class="text-nowrap">
          <th scope="col">Issue</th>
          <th scope="col">Status</th>
          <th scope="col">Labels</th>
          <th scope="col">Assignee</th>
        </tr>
      </thead>

      <tbody>
        <tr routerLink="/project/{{project.id}}/issue/{{issue.id}}" *ngFor="let issue of getIssuesForCurrentPage()">
          <td scope="row">
            <span class="issue-summary">
              {{issue.summary && issue.summary.length > 75 ? (issue.summary | slice:0:72) + '...' : issue.summary}}
            </span>
            <br />
            <span>#{{issue.id}} opened by {{issue.submitterName}}</span>
          </td>
          <th scope="row">
            <!-- red badges only support closed and Done -->
            <span class="badge badge-primary" *ngIf="issue.status != 'closed' && issue.status != 'Done'">{{issue.status}}</span>
            <span class="badge badge-danger" *ngIf="issue.status === 'closed' || issue.status === 'Done'">{{issue.status}}</span>
          </th>
          <td scope="row" class="labels-row">
            <span class="badge badge-secondary" *ngFor="let label of issue.labels">{{label}} </span>
          </td>
          <td scope="row">
            <span *ngFor="let assignee of issue.assignees">{{assignee}}&nbsp;&nbsp;</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template #noIssues>
    No issues found
  </ng-template>

  <ngb-pagination *ngIf="issues.length > pageSize" [pageSize]="pageSize" [collectionSize]="issues.length" [(page)]="page" [boundaryLinks]="true"
    [maxSize]="10" [rotate]="true" [ellipses]="false" class="d-flex justify-content-center"></ngb-pagination>
</div>
