<div class="main container text-center">

  <h1>Password Reset</h1>

  <div class="container auth">
    <p *ngIf="error" class="alert alert-danger">Invalid email or user not found, please try again</p>
    <div class="email" *ngIf="beforeSubmit">
      <form #f='ngForm' (ngSubmit)="tryPasswordReset(f)" class="form-register">
        <p>Forgot your password? No worries, we'll send you a link to your email to reset your password!</p>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" [(ngModel)]="email" name="email" class="form-control mb-2" placeholder="Email address" required autofocus>

        <button class="btn btn-primary btn-block" type="submit">Send</button>
      </form>
    </div>

    <div *ngIf="afterSubmit">
      Thank you, you should receive an email in your inbox shortly.
    </div>

  </div>
</div>
