<div class="text-center">

  <h1>Welcome to Track Forever</h1>

  <div class="container auth">
    <div class="email">
      <p *ngIf="error" class="alert alert-danger">Invalid email or incorrect password, please try again</p>
      <form #f='ngForm' (ngSubmit)="tryEmailLogin(f)" class="form-register">
        <p>Sign in or sign up with a registered account</p>

        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" [(ngModel)]="email" name="email" class="form-control mb-2" placeholder="Email address" required autofocus>

        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" [(ngModel)]="password" name="password" class="form-control mb-2" placeholder="Password" required>

        <button class="btn btn-primary btn-block" type="submit">Sign in</button>
      </form>
    </div>

    <div class="container signin social mt-2">
      <p class="mb-1">Or sign in using social media</p>
      <button type="button" class="btn btn-social-icon btn-facebook" (click)="tryFacebookLogin()">
        <fa-icon [icon]="faFacebook"></fa-icon>
      </button>
      <button type="button" class="btn btn-social-icon btn-github" (click)="tryGithubLogin()">
        <fa-icon [icon]="faGithub"></fa-icon>
      </button>
    </div>

    <div class="container mt-2">
      <p>Don't have an account?
        <a routerLink="/signup">Sign Up</a>
      </p>
      <p>
        <a routerLink="/reset">Forgot password?</a>
      </p>
    </div>
  </div>
</div>
