/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "assets/bootstrap-social.css";
@import "assets/loader.css";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.auth {
  text-align: center;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  background-color: lightblue;
  padding: 25px;
}
