/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "assets/bootstrap-social.css";
@import "assets/loader.css";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
  font-size: 16px;
  /* stop page jumping when scrollbars appear/disappear */
  overflow-y: scroll;
  /* footer height */
  margin-bottom: 120px;
}

img {
  max-width: 100%;
  box-sizing: content-box;
}
