<h1>My Projects</h1>

<div class="container" *ngIf="projects">
    <div class="container">
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        
        TODO - filters, column customization
    </div>

    <div class="container table-responsive">
        <table class="table table-hover">
            <thead class="thead-light">
                <tr class="text-nowrap">
                    <th scope="col"># <i class="fas fa-sort-up"></i></th>
                    <th scope="col">Name <i class="fas fa-sort"></i></th>
                    <th scope="col">Description</th>
                    <th scope="col">Source <i class="fas fa-sort"></i></th>
                </tr>
            </thead>
            <tbody>
                <tr routerLink="/project/{{project.id}}" *ngFor="let project of projects">
                    <th scope="row"><a href="">1</a></th>
                    <td>{{project.name}}</td>
                    <td>{{project.description.length > 50
                            ? (project.description | slice:0:47) + '...'
                            : project.description}}</td>
                    <td>{{project.source}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- TODO no projects message -->