<header class="container-fluid bg-light">
    <div>
        <h1>Track Forever</h1>
        <p>Dolor ipsum nostrud commodo dolore magna dolore veniam irure. Laboris incididunt et veniam veniam do aliqua dolor.
            Consequat laboris aute dolor commodo. Aute adipisicing aliqua laboris cupidatat ipsum. Ad cillum incididunt ullamco
            mollit consectetur elit do et aliqua amet non velit. Commodo cillum adipisicing ea ad occaecat. Lorem eiusmod
            cillum esse magna anim.</p>
        <button class="btn btn-primary btn-small" routerLink="/signin">Sign In</button>
    </div>
</header>

<div class="container-fluid features">
    <h2>Features</h2>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                One of three columns
            </div>
            <div class="col-sm">
                One of three columns
            </div>
            <div class="col-sm">
                One of three columns
            </div>
        </div>
    </div>
</div>