<section class="jumbotron jumbotron-fluid text-center bg-white mb-0">
  <div class="container">
    <h1 class="jumbotron-heading">Track Forever</h1>
    <p class="lead text-muted">Track Forever is an open-source, offline-first issue tracker.</p>
    <p>
      <button class="btn btn-primary btn-small" routerLink="/signin">Sign In</button>
    </p>
  </div>
</section>

<div class="pt-4 bg- container">
  <div class="text-center"><h1>Features</h1></div>
  <div class="pt-2">
    <div class="row">
      <div class="col-md-4" *ngFor="let feature of features">
        <div class="card mb-4 box-shadow">
          <div class="card-body">
            <p class="card-text">{{feature}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
